body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.icon-button img {
    width: 24px;
    height: 24px;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.table-container {
    width: 100%;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
}
.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 4px;
}

.table-container th:nth-child(2), .table-container td:nth-child(2) {
    width: 1%; /* Make the options column as narrow as possible */
    white-space: nowrap; /* Prevent the content from wrapping */
}
.table-container th {
    background-color: #f2f2f2;
    text-align: left;
}

h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.panel {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form select, form textarea, form button {
    margin: 5px 0;
    width: 90%; /* Make inputs fill the form width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-size: 16px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto; /* Change width to auto */
    max-width: 80%; /* Add max-width */
    height: auto; /* Change height to auto */
    max-height: 80%; /* Add max-height */
    overflow-y: auto; /* Add overflow-y for scrolling */
}
.modal-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Icon button styles */
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.icon-button img {
    width: 24px;
    height: 24px;
}

.hidden-id {
    display: none;
}

.scrollable-list {
    max-height: 300px; /* Limit to 6 items */
    width: 80%;
    overflow-y: auto; /* Add vertical scrollbar */
    justify-content: center;
}

.recipe-list {
    width: 100%;
    justify-content: center;
}

.recipe-item {
    display: flex;
    justify-content: space-between; /* Align name on the left and button on the right */
    align-items: center;
}

.meal-plan {
    justify-content: center;
    width: 100%;
}